<div class="col-md-4">
    <button (click)="onStart()" [disabled]="!_allowStart" class="btn btn-success btn-block">Start</button>
    <button (click)="onPause()" [disabled]="!_allowPause" class="btn btn-warning  btn-block">Pause</button>
    <button (click)="onNext()" [disabled]="!_allowNext" class="btn btn-primary-outline  btn-block">Next</button>
    <button (click)="onContinue()" [disabled]="!_allowContinue" class="btn btn-primary  btn-block">Continue</button>
    <button (click)="onStop()" [disabled]="!_allowStop" class="btn btn-danger  btn-block">Stop</button>
    <hr/>
    <div id="control_accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="control_info_heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#control_accordion" href="#control_info_collapse"
                       aria-expanded="true" aria-controls="control_info_collapse">
                        Control Status
                    </a>
                </h5>
            </div>
            <div id="control_info_collapse" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="control_info_heading">
                <ul class="list-group">
                    <li *ngFor="#status_entry of statusList.reverse()" class="list-group-item">{{status_entry}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="control_error_heading">
                <h5 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#control_accordion"
                       href="#control_error_collapse" aria-expanded="false" aria-controls="control_error_collapse">
                        Control Errors
                    </a>
                </h5>
            </div>
            <div id="control_error_collapse" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="control_error_heading">
                <ul class="list-group">
                    <li *ngFor="#error_entry of errorList.reverse()" class="list-group-item-danger">{{error_entry}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>