<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - CSIRAC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="node_modules/tether/dist/css/tether.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    <script src="node_modules/es6-shim/es6-shim.js"></script>
    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="node_modules/angular2/bundles/http.dev.js"></script>
    <script src="node_modules/stompjs/lib/stomp.js"></script>
    <script src="node_modules/rxjs/bundles/Rx.js"></script>
    <script src="node_modules/tether/dist/js/tether.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="welcome-body">
<div class="container">
    <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="/">CSIRAC</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Emulator<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="pull-xs-right">
                <a class="nav-link" href="/#">Hello! Welcome to CSIRAC</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="monitor-container">
            <h2 th:text="${document.getTitle()} "/>
            <hr/>
            <p th:text="${document.getBody()} "/>
            <hr/>
            <p th:text="${document.getDate()} "/>
        </div>
    </div>
</div>
</body>
</html>