<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome - CSIRAC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet" href="node_modules/tether/dist/css/tether.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    <script src="node_modules/es6-shim/es6-shim.js"></script>
    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="node_modules/angular2/bundles/http.dev.js"></script>
    <script src="node_modules/stompjs/lib/stomp.js"></script>
    <script src="node_modules/rxjs/bundles/Rx.js"></script>
    <script src="node_modules/tether/dist/js/tether.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        System.config({
            packages: {
                emulator: {
                    format: 'register',
                    defaultExtension: 'js'
                },
                utils: {
                    format: 'register',
                    defaultExtension: 'js'
                },
                stompjs: {
                    format: 'register',
                    defaultExtension: 'js'
                },
                services: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('emulator/boot')
                .then(null, console.error.bind(console));
//        System.import('emulator/monitor/io_panel.boot')
//                .then(null, console.error.bind(console));
//        System.import('emulator/monitor/setting_panel.boot')
//                .then(null, console.error.bind(console));
//        System.import('emulator/monitor/status_panel.boot')
//                .then(null, console.error.bind(console));
        //enableProdMode();
    </script>
</head>
<body class="welcome-body">
    <div class="container-fluid">
        <!--<p th:text="'Hello, ' + ${name} + '!'" />-->
        <div id="session_id" hidden="hidden"></div>
        <div class="row">
            <emulator-client></emulator-client>
        </div>
    </div>
</body>
</html>