<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <form (ngSubmit)="onSubmit()" #testform="ngForm" class="form-group">
            <textarea placeholder="Input Your Program Here" [(ngModel)]="program" #program_input class="form-control"
                      rows="10"></textarea>
                    <br/>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </fieldset>
        </div>
        <div class="col-md-6">
            <div>
                <h3>Instruction Monitor</h3>
                <p>{{instructionView}}</p>
            </div>
            <div>
                <h3>Pc Reg Monitor</h3>
                <p>{{pcRegView}}</p>
            </div>
        </div>
    </div>
    <!--<div [ng2-highcharts]="_pcRegChartOptions" class="graph"></div>-->
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Memory Cell</th>
                </thead>
                <tr *ngFor="#memory_entry of memoryView; #i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{memory_entry}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Register</th>
                <th>Data</th>
                </thead>
                <tr *ngFor="#reg_entry of registerView; #i = index ">
                    <th scope="row">{{i}}</th>
                    <td>{{reg_entry.split(":")[0]}}</td>
                    <td>{{reg_entry.split(":")[1]}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Output</th>
                </thead>
                <tr *ngFor="#output_entry of outputView; #i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{output_entry}}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div id="io_accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="io_info_heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#io_accordion" href="#io_info_collapse"
                       aria-expanded="true" aria-controls="io_info_collapse">
                        IO Status
                    </a>
                </h5>
            </div>
            <div id="io_info_collapse" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="io_info_heading">
                <ul class="list-group">
                    <li *ngFor="#status_entry of statusList.reverse()" class="list-group-item">{{status_entry}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="io_error_heading">
                <h5 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#io_accordion"
                       href="#io_error_collapse" aria-expanded="false" aria-controls="io_error_collapse">
                        IO Errors
                    </a>
                </h5>
            </div>
            <div id="io_error_collapse" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="io_error_heading">
                <ul class="list-group">
                    <li *ngFor="#error_entry of errorList.reverse()" class="list-group-item-danger">{{error_entry}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>